<!DOCTYPE html> 
<html> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>goku - simple & power</title>
    <style>
        html, body, body * {padding: 0; margin: 0;}
        #header {background:#ffd; border-bottom:solid 2px #A31515; padding: 20px 10px;}
        #header h2{ }
        #footer {border-top:solid 1px #aaa; padding: 5px 10px; font-size: 12px; color:green;}
        #content {padding: 5px;}
        #content .stack b{ font-size: 13px; color: red;}
        #content .stack pre{padding-left: 10px;}
        table {}
        td.t {text-align: right; padding-right: 5px; color: #888;}
    </style> 
    <script type="text/javascript">
    </script>
</head> 
<body>
    <div id="header">
        <h2>{{.Model.Err}}</h2>
    </div>
    <div id="content">
        <table>
            <tr>
                <td class="t">Request Method: </td><td>{{.Model.Request.Method}}</td>
            </tr>
            <tr>
                <td class="t">Request URL: </td><td>{{.Model.Request.URL.Path}}</td>
            </tr>
            <tr>
                <td class="t">Status Code: </td><td>{{.Model.StatusCode}}</td>
            </tr>
        </table>

        {{if and .Model.ShowDetail .Model.Stack}}
        <div class="stack">
            <b>Stack</b>
            <pre>{{.Model.Stack}}</pre>
        </div>
        {{end}}
    </div>
    <div id="footer">
        <p>goku {{ .Model.GokuVersion }} (golang web mvc framework)</p>
        <p>golang version: {{.Model.GoVersion}}</p>
    </div>
</body>
</html>        
