{{define "head"}}{{end}}

{{define "body"}}
<div class="box">

  <div class="box todos">
    <h2 class="box">Todo</h2>
    <ul>
      {{range .Model}}
      {{ $class := "" }}
      {{if .Finished}} {{ $class := "class=\"finshed\"" }} {{end}}
      
        <li id="status">
          {{if .Finished }}
            <del>{{ .Title }}</del>
            &nbsp;
            <a href="/todo/{{ .Id }}/finish?status=no">Restore</a>,
          {{else}}
            {{ .Title }}
            &nbsp;
            <a href="/todo/{{ .Id }}/finish?status=yes">Done</a>,
          {{end}}
          <a href="/todo/{{ .Id }}/edit">Edit</a>,
          <a href="/todo/{{ .Id }}/delete" onclick="return confirm('Are you sure to delete？')">Del</a>
        </li>
      {{end}}
    </ul>
  </div>

  <div class="box post">
    <h2>New</h2>
    <form action="/todo/new" method="post" id="post_new">
      <input type="hidden" name="_csrf" value="<%- _csrf %>" />
      <p><input type="text" name="title" class="long_txt" /></p>
      <p><input type="submit" class="submit" value="Add" /></p>
    </form>
  </div>

</div>
{{end}}
